<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.pgp.squerez">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/squerez_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/squerez_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PermissionManagementActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />

                <data
                    android:scheme="file"
                    android:mimeType="application/x-bittorrent" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-bittorrent"/>
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent" />
                <data android:pathPattern=".*\.torrent" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.TorrentService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>